git+https://github.com/sunsmarterjie/yolov12.git
fastapi
uvicorn[standard]
python-multipart
huggingface_hub


clarifai-grpc

# Configuration and Utils
pyyaml
requests

# Logging
python-json-logger

# Optional but recommended
scipy
